<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apptreino">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTreino">
        <activity
            android:name=".PreviewPlaylist"
            android:exported="false">

        </activity>
        <activity
            android:name=".NivelExercicio"
            android:exported="false">
        </activity>
        <activity
            android:name=".MenuExercicios"
            android:exported="false" />
        <activity
            android:name=".ReprodutorExercicios"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppCompat.TelaCheia"
            android:exported="true"> <!-- True for the intent filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>